﻿@{
    ViewData["Title"] = "Home Page";
}
@model Validation;

<h2>Find an Employe by Id</h2>
<p>If you do not know an Employee Id, press botton Send to check de List of Employess</p>


@if (@Model.showMessage)
{
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Type a valid Employee Id</label>
        </div>
    </div>
}

@using (Html.BeginForm("GetEmployess", "Employe", FormMethod.Post, new { @class = "form" }))
{
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="id">Id:</label>
                <input type="number" name="id" id="id" class="form-control form-control-sm" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
}