﻿@using EmployessMVCAPI.Models.DataTransferObjects

@model Data

<h2>Result by Id</h2>
<p>Sended Id: @Model.id</p>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th class="text-center">Id</th>
			<th class="text-center">Employee Name</th>
			<th class="text-center">Employee Salary</th>
			<th class="text-center">Employee Annual Salary</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">@Model.id</td>
			<td>@Model.employee_name</td>
			<td class="text-right">@string.Format("{0:N0}", Model.employee_salary)</td>
			<td class="text-right">@string.Format("{0:N0}", Model.employee_salary * 12)</td>
		</tr>
	</tbody>
</table>

<a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>



