﻿@using EmployessMVCAPI.Models.DataTransferObjects

@model List<Data>

<h2>List of Employess</h2>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th class="text-center">Id</th>
			<th class="text-center">Employee Name</th>
			<th class="text-center">Employee Salary</th>
			<th class="text-center">Employee Annual Salary</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var employee in Model)
		{
			<tr>
				<td class="text-center">@employee.id</td>
				<td>@employee.employee_name</td>
				<td class="text-right">@string.Format("{0:N0}", employee.employee_salary)</td>
				<td class="text-right">@string.Format("{0:N0}", employee.employee_salary * 12)</td>
			</tr>
		}
	</tbody>
</table>


<a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>



